<div>
    <h1>
            FCC Image Search Abstraction Layer
    </h1>
</div>
<div style="color:red">
    <h2>
        Usage
    </h2>   
        <ul>
            <li>
                Use https://yukixoma-fcc-image-searcher.herokuapp.com/api/imagesearch/[Search string] to search
                <br>
                Example: https://yukixoma-fcc-image-searcher.herokuapp.com/api/imagesearch/anime
            </li>
            <br>
            <li>
                Use ?offset=[page] to paginate search result 
                <br>
                Example: https://yukixoma-fcc-image-searcher.herokuapp.com/api/imagesearch/[Search string]?offset=3
            </li>
            <br>
            <li>
                Use https://yukixoma-fcc-image-searcher.herokuapp.com/lastest to get lastest search history
            </li>
        </ul>      
        
</div>
<div>
    <h3>
        Return value is in an JSON object
        <br>
        For easy to read use JSON reader (extension or online)
    </h3>
</div>